@import "tailwindcss";

:root {
  --foreground: #f5f5f5;
}

@theme {
  --color-new-white: #f5f5f5;
  --color-ultra-black: #121212;
  --color-main-black: #252525;
  --color-soft-black: #2D2D2D;
  --color-main-blue: #4D90FE;
  --color-borders: #444444;
  --color-soft-white: #B0B0B0;
}

body {
  color: var(--foreground);
}
